﻿@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <label>Please, enter your text:</label>

    <input type="text" id="text" class="form-control" />
    <input type="submit" class="btn btn-success" value="Show XML" id="showXml" />
    <input type="submit" class="btn btn-success" value="Show CSV" id="showCsv" />
</div>
<div class="row">
    <div class="col-md-5">
        <pre id="result" style="display:none"></pre>
    </div>
</div>

<script src="~/Scripts/show-xml.js"></script>
<script src="~/Scripts/show-csv.js"></script>